.home {
    height: 100%;
    padding-top: 20vh;
    overflow: hidden;
    text-align: center;
    background: url('../img/project-1.jpg') center top;
    background-size: cover;

    &_name {
        font-size: 5rem;
        padding-bottom: 1rem;
        margin-top: 1rem;
        border-bottom: 2px solid set-text-color($primary-color);
        &___last {
            color: $secondary-color;
            font-weight: 700;
        }
    }
    h2 {
        padding-top: 1rem;
    }
}